<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PassManager - {% block title %}{% endblock title %}</title>

    {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        {% block head_css_section %}
        <link rel="stylesheet" type="text/css" href="{% static 'manager/style.css' %}">
        {% endblock head_css_section %}
    {% endblock head_css %}
</head>
<body>
    <header>
        {% block header %}
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
            </nav>
        {% endblock header %}

    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>