<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PassManager - {% block title %}{% endblock title %}</title>

    {% load static %}   {#  Allow Access to Static Files  #}

    <!--  Bootstrap CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  JQuery  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--  Popper  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--  Bootstrap JS  -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--  Clipboard library w/ Flash  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

    <!--  Custom CSS  -->
    <link rel="stylesheet" type="text/css" href="{% static 'manager/style.css' %}">

    {% block head_css %}
        {#  Page-based CSS files #}
    {% endblock head_css %}

    {% block scriptFiles %}
        {#  Page-based JS Files  #}
    {% endblock scriptFiles %}

</head>
<body>
    {% block header %}
        <!--  WEBSITE HEADER: Brand Logo & Side Menu  -->
        <header>
            <!--  Bootsrap Navbar  -->
            <nav class="navbar">
                <!--  Logo w/ Link  -->
                <a href="{% url 'manager:main' %}" class="navbar-brand">PassManager</a>
                <!--  SideNav Open Btn  -->
                <button class="btn btn-light">
                <span id="openSideNav">
                    <svg class="bi bi-gear-wide-connected" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"/>
                        <path fill-rule="evenodd" d="M7.375 8L4.602 4.302l.8-.6L8.25 7.5h4.748v1H8.25L5.4 12.298l-.8-.6L7.376 8z"/>
                    </svg>
                </span>
                </button>
            </nav>

            <div id="sideNavBar" class="sideNav">
                <!--  Close Navbar  -->
                <span id="closeSideNav">
                <svg class="bi bi-x-circle" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
            </span>

                <!--  Side Navbar Contents  -->
                <div id="sideNavContents">
                    <a href="{% url 'manager:main' %}">Home</a>
                    <a href="{% url 'manager:profile' %}">Profile</a>
                    <a href="{% url 'manager:settings' %}">Settings</a>
                    <a href="{% url 'manager:about' %}">About</a>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </header>
    {% endblock header %}

    <div id="main">
    {% block content %}
    {% endblock content %}
    </div>

    <!--  Header Script  -->
    <script src="{% static 'manager/header.js' %}"></script>

    {#  Clipboard Instantiate  #}
    <script>
// DEBUG - Copies password as 'code' not as 'text'
        let clipboard = new ClipboardJS('.clipBtn', {
            text: function(trigger) {
                return trigger.getAttribute('value');
            }
        });

        clipboard.on('success', function(e) {
            console.log(e);
        });

        clipboard.on('error', function(e) {
            console.log(e);
        });
    </script>

    {% block headerJS %}
        <!--  Javascript  -->
    {% endblock headerJS %}
</body>
</html>