{% extends 'manager/base.html' %}
{% block title %} Login{% endblock title %}

{% block content %}

    <div class="login-panel">
        <form action="{% url 'manager:login_check' %}" method="post">
            {% csrf_token %}
            <input type="text" name="usrEmail" id="usrEmail" placeholder="Username or Email"><br>
            <input type="text" name="pwd" id="pwd" placeholder="Password"><br>
            <a href="{% url 'manager:reset_password' %}">Forgot Account?</a><br><br>
            <input type="submit" value="Login">
        </form>
    </div>

    <div class="signup-panel">
        <p>New to our platform? Clear your mind and hold onto just one password as we do the rest. Leave everything behind in our secure vault. Less passwords, less stress.</p>
        <a href="{%  url 'manager:signup' %}">SignUp Here!</a>
    </div>

{% endblock content %}