{% extends 'manager/base.html' %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
    <h1>Hi! We'll help you reset your password!</h1>
    <h3>First, help us make sure its you. Enter your email address or username below</h3>
    <input type="text" name="userEmailReset" id="userEmailRest" placeholder="Username or Email"><br>
    <p>Dont remember you either your username or password? See your options below.</p>
    <h4>FAQ</h4>
    <a href="#">What to do if you cant remember your username or password</a>
{% endblock content %}
