body {
  height: 100vh;
  background-color: rgba(248, 248, 248, 0.8); // Light Gray
}

// MAIN Contents
#main {
  transition: margin-right .5s;
  padding: 20px;
  height: 100%;
}

// SIDE NAV BAR
// SideNav: menu
.sideNav {
  // Position
  position: fixed;
  z-index: 1;             // Stay on top
  top: 0;                 // Stay at top
  right: 0;               // !!Change to right!!
  // Size
  height: 100%;
  width: 0;               // Initially hidden
  // Style
  background-color: #111;
  // Misc
  overflow-x: hidden;     // Disable horz scroll
  padding-top: 60px;
  transition: 0.5s;
}
// SideNav: links
.sideNav {
  padding-top: 35px;
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
// SideNav: links-hover
.sideNav a:hover {
  color: #f1f1f1;
}
// SideNav: closeBtn
.sideNav .closeBtn {
  transition: margin-right .5s;
  padding: 20px;
}
// Smaller screens
@media (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 15px;}
}
// SideNav close Btn
span#closeSideNav {
  // Position
  margin-left: 15px;
  margin-top: 20px;
  // Style
  background-color: transparent;
  color: red;
}
#sideNavContents {
  padding-top: 20px;
}

// LOGIN PAGE
// Main Div
.login-signup {
  position: relative;
}

.desktopSignup {
  // Mobile View: Hide Signup Div
  display: none;
}
@media (min-width: 715px) {
  // Desktop View: Show SignUp Div
  .desktopSignup {
    display: block;
  }
}

// SIGNUP Div
.signup-panel {
  // Position
  position: absolute;
  top: 23vh;
  left: 10vw;

  // Size
  height: 300px;  // fixed height (smaller than login)
  width: 80vw;    // Dynamic width

  // Text
  text-align: justify;

  // Misc
  padding: 5vh 4vw 5vh calc(~"265px + 10vw") // Position content
}
// SIGNUP Misc
.signup-content {
  width: 205px;     // Content: fixed width
}
#desktopSignupBtn {
  margin-top: 20px; // Btn Margin increased
}
#mobileSignupBtn {

}
.mobileSignup {
  // Mobile View: Show SignupBtn
  display: block;
}
@media (min-width: 715px) {
  .mobileSignup {
    // Desktop View: Hide SignupBtn
    display: none;
  }
}


// LOGIN Div
.login-panel {
  // Mobile View: centered
  // Position
  position: relative;
  top: 20vh;

  // Size
  height: 400px;
  width: 40vw;
  min-width: 280px; // Ensures elements on one line
}
@media (min-width: 715px) {
  .login-panel {
    // Desktop View: left misaligned
    left: -15vw; // Content centered, dist. from center
  }
}
//LOGIN Misc
.form-group {
  margin-bottom: 0; // Remove spacing b/w form elements
}
#forgot-account {
  font-size: 0.8rem; // Size of forgot account link
}

// MAIN PAGE
// Div of Main Content
#mainPage-mainDiv {
  height: 90px;
}
#software-image {
  width:3em;
  height:3em;
}
#software-name {
  min-width: 40vw;
}
#software-details {
  padding-left: 15px;
}
.pwd-input {
  width: 100px;
  background-color: transparent;  // Remove bg-color
  border: 0;
}
#togglePwd {
  background-color: transparent;
  border: 0;
}
#clipboard {
  padding-left: 15px;
  background-color: transparent;
  border: 0;
}
#website-link {
  padding-left: 20px;
}
#edit-div {
  padding-left: 10px;
}


// COLOURS
// Override Login color
//.bg-light {
//  background-color: rgba(0,50,200,0.6);
//}
// Or add own class
// .bg-custom-1 {
//  background-color: rgba(0,0,0,1);
//}
// Override SignUp color
//.bg-danger {
//  background-color: rgba(0,50,200,0.6);
//}