body {
  height: 100vh;
}

// LOGIN PAGE
// Main Div
.login-signup {
  position: relative;
}

// SignUp Div
.signup-panel {
  // Position
  position: absolute;
  top: 23vh;

  // Size
  height: 300px;  // fixed height (smaller than login)
  width: 80vw;    // Dynamic width

  // Text
  text-align: justify; //

  // Misc
  //padding: 10vh 5vw 5vh 250px * 1.5;
  padding: 5vh 5vw 5vh calc(~"250px + 10vw") //Padding centers signup
}
@media (min-width: )


.signup-content {
  width: 205px;     // Fix width of signup content
}
#signupBtn {
  margin-top: 20px;
}

// Login Div
.login-panel {
  // Position
  position: relative;
  top: 20vh;
  left: -15vh; // Content centered, dist. from center

  // Size
  height: 400px;
  width: 40vw;
  min-width: 260px; // Ensures elements on one line
}

.form-group {
  margin-bottom: 0; // Remove spacing b/w form elements
}

#forgotAccount {
  font-size: 0.8rem; // Size of forgot account link
}


// COLOURS
// Override Login color
//.bg-light {
//  background-color: rgba(0,50,200,0.6);
//}
// Or add own class
// .bg-custom-1 {
//  background-color: rgba(0,0,0,1);
//}
// Override SignUp color
//.bg-danger {
//  background-color: rgba(0,50,200,0.6);
//}